.all-boxes {
  display: flex;
  justify-content: space-evenly;
}
.box {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 20%;
}
.box-data {
    font-size: 2rem;
}
