.page-body {
  padding: 0.5rem;
}
.page-heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
}
.sub-heading {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-align: left;
  font-size: 1.5rem;
  color: var(--font-color);
}
.buttons {
  display: flex;
  justify-content: right;
}

.buttons button {
  margin-right: 5px;
}
.message {
  text-align: center;
  color: var(--message-color);
  font-size: 1.2rem;
}
.search-button,
.update-button {
  display: flex;
  align-items: center;
}
.chart-image {
  text-align: center;
  width: 100%;
  max-width: 800px;
}
.chart {
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
}
.description {
  text-align: center;
  color: var(--description-color);
}
