<div class="page-body">
    <div class="page-heading">Professionals</div>
    <div class="buttons">
        <button class="button-58" @click="createCsv">Export Data</button>
    </div>
    <div class="sub-heading">New Requests</div>
    <table v-if="pending_professionals.length>0">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Business Name</th>
                <th>Address</th>
                <th>Experience</th>
                <th>Created Date</th>
                <th>Owner Name</th>
                <th>Owner Email</th>
                <th>Service Selected</th>
                <th>Document</th>
                <th>Accept</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(prof,index) in pending_professionals">
                <td>{{index+1}}</td>
                <td>{{prof.business_name}}</td>
                <td>{{prof.address}}</td>
                <td>{{prof.experience}}</td>
                <td>{{prof.date_created}}</td>
                <td>{{prof.user.name}}</td>
                <td>{{prof.user.email}}</td>
                <td>{{prof.service.name}}</td>
                <td><a :href="'/uploads/' + prof.uploaded_file" target="_blank">
                        View Document
                    </a></td>
                <td><button class="btn btn-success" @click="changeStatus(prof,'accepted')">Accept</button></td>
                <td><button class="btn btn-danger" @click="changeStatus(prof,'rejected')">Reject</button></td>
            </tr>
        </tbody>
    </table>
    <div v-if="pending_professionals.length==0" class="message">
        No Data here
    </div>
    <div class="sub-heading">Accepted/Active Professionals</div>
    <table v-if="accepted_professionals.length>0">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Business Name</th>
                <th>Address</th>
                <th>Experience</th>
                <th>Created Date</th>
                <th>Owner Name</th>
                <th>Owner Email</th>
                <th>Service Selected</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(prof,index) in accepted_professionals">
                <td>{{index+1}}</td>
                <td>{{prof.business_name}}</td>
                <td>{{prof.address}}</td>
                <td>{{prof.experience}}</td>
                <td>{{prof.date_created}}</td>
                <td>{{prof.user.name}}</td>
                <td>{{prof.user.email}}</td>
                <td>{{prof.service.name}}</td>
                <td><button class="btn btn-danger" @click="changeStatus(prof,'rejected')">Disable</button></td>
            </tr>
        </tbody>
    </table>
    <div v-if="accepted_professionals.length==0" class="message">
        No Data here
    </div>
    <div class="sub-heading">Rejected Requests</div>
    <table v-if="rejected_professionals.length>0">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Business Name</th>
                <th>Address</th>
                <th>Experience</th>
                <th>Created Date</th>
                <th>Owner Name</th>
                <th>Owner Email</th>
                <th>Service Selected</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(prof,index) in rejected_professionals">
                <td>{{index+1}}</td>
                <td>{{prof.business_name}}</td>
                <td>{{prof.address}}</td>
                <td>{{prof.experience}}</td>
                <td>{{prof.date_created}}</td>
                <td>{{prof.user.name}}</td>
                <td>{{prof.user.email}}</td>
                <td>{{prof.service.name}}</td>
                <td><button class="btn btn-success" @click="changeStatus(prof,'accepted')">Accept</button></td>
            </tr>
        </tbody>
    </table>
    <div v-if="rejected_professionals.length==0" class="message">
        No Data here
    </div>
</div>

<div class="page-body">
    <div class="page-heading">View Services</div>
    <div class="buttons">
        <button class="btn btn-info" @click="createCsv">Export Data</button>
        <button class="btn btn-success" @click="openAddModal">Add</button>
    </div>
    <table v-if="services.length>0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Base Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="service in services">
                <td>{{service.name}}</td>
                <td>{{service.description}}</td>
                <td>{{service.base_price}}</td>
                <td><button @click="openEditModal(service)">Edit</button></td>
                <td><button @click="deleteService(service)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div class="message" v-if="services.length==0">
        No Services added
    </div>
    <!-- Add Modal-->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Service</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" v-model="name" id="name" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label for="desc" class="form-label">Description:</label>
                            <textarea type="text" v-model="desc" id="desc" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label for="base-price" class="form-label">Base Price:</label>
                            <input type="number" v-model="base_price" id="base-price" class="form-control" required />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" @click="addNewService">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Service</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" v-model="edit_name" id="name" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label for="desc" class="form-label">Description:</label>
                            <textarea type="text" v-model="edit_desc" id="desc" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label for="base-price" class="form-label">Base Price:</label>
                            <input type="number" v-model="edit_base_price" id="base-price" class="form-control"
                                required />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" @click="editService">Edit</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="page-body">
    <div class="page-heading">Professional Requests</div>
    <div class="sub-heading">New Requests</div>
    <table v-if="new_requests.length>0">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Service</th>
                <th>Customer Name</th>
                <th>Customer Contact</th>
                <th>Customer Address</th>
                <th>Date</th>
                <th>Accept</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(req,index) in new_requests">
                <td>{{index+1}}</td>
                <td>{{req.service.name}}</td>
                <td>{{req.user.name}}</td>
                <td>{{req.user.email}}</td>
                <td>{{req.user_address}}</td>
                <td>{{req.date_requested}}</td>
                <td><button class="btn btn-success" @click="updateStatus(req.id,'accepted')">Accept</button></td>
                <td><button class="btn btn-danger" @click="updateStatus(req.id,'rejected')">Reject</button></td>
            </tr>
        </tbody>
    </table>
    <div v-if="new_requests.length==0" class="message">
        No Requests Here
    </div>
    <div class="sub-heading">Closed Requests</div>
    <table v-if="closed_requests.length>0">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Service</th>
                <th>Customer Name</th>
                <th>Customer Contact</th>
                <th>Customer Address</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(req,index) in closed_requests">
                <td>{{index+1}}</td>
                <td>{{req.service.name}}</td>
                <td>{{req.user.name}}</td>
                <td>{{req.user.email}}</td>
                <td>{{req.user_address}}</td>
                <td>{{req.date_requested}}</td>
                <td>{{req.status}}</td>
            </tr>
        </tbody>
    </table>
    <div v-if="closed_requests.length==0" class="message">
        No Requests Here
    </div>
    <div class="sub-heading">Accepted Requests</div>
    <table v-if="accepted_requests.length>0">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Service</th>
                <th>Customer Name</th>
                <th>Customer Contact</th>
                <th>Customer Address</th>
                <th>Date</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(req,index) in accepted_requests">
                <td>{{index+1}}</td>
                <td>{{req.service.name}}</td>
                <td>{{req.user.name}}</td>
                <td>{{req.user.email}}</td>
                <td>{{req.user_address}}</td>
                <td>{{req.date_requested}}</td>
                <td><button class="btn btn-danger" @click="updateStatus(req.id,'rejected')">Reject</button></td>
            </tr>
        </tbody>
    </table>
    <div v-if="accepted_requests.length==0" class="message">
        No Requests Here
    </div>
    <div class="sub-heading">Rejected Requests</div>
    <table v-if="rejected_requests.length>0">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Service</th>
                <th>Customer Name</th>
                <th>Customer Contact</th>
                <th>Customer Address</th>
                <th>Date</th>
                <th>Accept</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(req,index) in rejected_requests">
                <td>{{index+1}}</td>
                <td>{{req.service.name}}</td>
                <td>{{req.user.name}}</td>
                <td>{{req.user.email}}</td>
                <td>{{req.user_address}}</td>
                <td>{{req.date_requested}}</td>
                <td><button class="btn btn-success" @click="updateStatus(req.id,'accepted')">Accept</button></td>
            </tr>
        </tbody>
    </table>
    <div v-if="rejected_requests.length==0" class="message">
        No Requests Here
    </div>
</div>

<div class="page-body">
    <div class="sub-heading">Profile Details</div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="business_name" class="form-label">Business Name:</label>
                    <input type="text" class="form-control" id="business_name" placeholder="Enter Business Name" v-model="business_name" />
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="experience" class="form-label">Experience:</label>
                    <input type="text" class="form-control" id="experience" placeholder="Enter Experience" v-model="experience" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <textarea type="text" class="form-control" id="address" placeholder="Enter Address" v-model="address"></textarea>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="service_description" class="form-label">Service Description:</label>
                    <textarea type="text" class="form-control" id="service_description" placeholder="Enter service Description"
                        v-model="service_description"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <input type="number" class="form-control" id="price" placeholder="Enter Price" v-model="price" />
                </div>
            </div>
            <div class="col-6">
                <button class="button-58" @click="updateProfessionalDetails">Update</button>
            </div>
        </div>
    </div>
    <div class="sub-heading">Reviews</div>
    <table v-if="reviews.length>0">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Customer</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(rev,index) in reviews">
                <td>{{index+1}}</td>
                <td>{{rev.user.name}}</td>
                <td>{{rev.review}}</td>
            </tr>
        </tbody>
    </table>
    <div class="message" v-if="reviews.length==0">
        No Reviews Yet
    </div>
</div>